$font-family-sans-serif: 'Poppins', sans-serif;

@import "./node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body::before {
    display: block;
    content: '';
    height: 60px;
}

header{
    height: 70vh;
    min-height: 400px;
    background-size: cover;
    background-image: url(/src/img/main-background.jpg);
}

.bg-img {
    background-image: url(/src/img/Ferio\ Hill.jpg);
    height: 60vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:600px){
    header{
        background-position: 20%;
    }
}

@media(min-width: 768px) {
    .contact-input {
        width: 50%;
    }
}

map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

